:root {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.8rem;
  display: grid;
  place-items: center;
}

.wrapper {
  background-image: url(./images/bg-main-mobile.png);
  background-repeat: no-repeat;
  width: 37.5rem;
  padding: 3.2rem 2.4rem 4.5rem 1.7rem;
  height: auto;
}

.cards__box {
  position: relative;
}

.card--front__box {
  position: relative;
}

.card__front-position {
  position: absolute;
  top: 8.85rem;
  z-index: 1;
}

.card__back-position {
  position: absolute;
  left: 5.6rem;
}

.card--front__logo {
  width: 5.4rem;
  height: 3rem;
  position: absolute;
  top: 1.6rem;
  left: 1.6rem;
}

.card {
  width: 28.5rem;
  height: 15.62rem;
}

.card--front__text-box {
  color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 24.51rem;
  row-gap: 1.7rem;
  position: absolute;
  top: 8.5rem;
  left: 1.6rem;
}

.card__number {
  letter-spacing: 2.2px;
  grid-column: 1 / -1;
}

.card__name {
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 2.2px;
}

.card__date {
  font-size: 0.9rem;
  place-self: end;
}

.card--back__box {
  position: relative;
}

.back__card-cvc {
  font-size: 0.9rem;
  color: #fff;
  letter-spacing: 1.286px;

  position: absolute;
  top: 7.1rem;
  left: 23rem;
}

/*************** FORM ***************/

.form__box {
  padding-top: 29rem;
  padding-left: 0.7rem;
  width: 32.7rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.input {
  padding: 1.1rem 0rem 1.1rem 1.6rem;
  border-radius: 8px;
  border: 1px solid #dfdee0;
  outline: none;
}

.input::placeholder {
  opacity: 0.25;
  font-size: 1.8rem;
}

.input__label {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: 0.9rem;
}

.input-control {
  display: flex;
  flex-direction: column;
}

.form__card-details {
  display: flex;
}

.input__date {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
}

.input--small {
  width: 7.2rem;
}

.input--cvc {
  width: 16.4rem;
  margin-left: 1.1rem;
}

.btn {
  border-radius: 0.8rem;
  background-color: #21092f;
  color: #fff;
  padding: 1.5rem 12.9rem 1.5rem 12.9rem;
  font-size: 1.8rem;
  width: 32.7rem;
}

.input__error {
  font-size: 1.2rem;
  color: #ff5050;
  text-wrap: nowrap;
}

/*************** THANK YOU ***************/

.thankyou__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  padding-top: 29rem;
}

.thankyou__img {
  width: 8rem;
  height: 8rem;
  margin-bottom: 1.9rem;
}

.thankyou__heading {
  font-size: 2.8rem;
  letter-spacing: 3.422px;
  text-transform: uppercase;
}

.thankyou__text {
  margin-bottom: 3.2rem;
  color: #8f8694;
}

/****************************************************/
/*************** DESKTOP ***************/
/****************************************************/

@media screen and (min-width: 90em) {
  .wrapper {
    width: 144rem;
    height: 100vh;
    background-image: url(./images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-position: left;
    display: grid;
  }

  .card {
    width: 44.7rem;
    height: 24.5rem;
  }

  .card__front-position {
    top: 13.7rem;
    left: 16rem;
  }

  .card__back-position {
    top: 41.7rem;
    left: 23rem;
  }

  .card--front__logo {
    width: 8.4rem;
    height: 4.7rem;
    top: 2.8rem;
    left: 2.9rem;
  }

  .card--front__text-box {
    width: 38.31rem;
    row-gap: 2.5rem;
    top: 13rem;
    left: 2.9rem;
  }

  .card__number {
    font-size: 2.8rem;
    letter-spacing: 3.422px;
  }

  .card__name {
    font-size: 1.4rem;
    letter-spacing: 2px;
  }

  .card__date {
    font-size: 1.4rem;
  }

  .back__card-cvc {
    font-size: 1.4rem;
    letter-spacing: 2px;

    top: 11.1rem;
    left: 35.5rem;
  }

  /*************** FORM ***************/

  .test {
    width: 38.1rem;
  }

  .form__box {
    padding-top: 25rem;
    padding-left: 83.2rem;
    width: 38.1rem;
    gap: 2.6rem;
  }

  .input {
    padding: 1.1rem 0rem 1.1rem 1.6rem;
    width: 38.1rem;
  }

  .input__label {
    text-wrap: nowrap;
  }

  .input__date {
    gap: 1rem;
  }

  .input--small {
    width: 8rem;
  }

  .input--cvc {
    width: 19.1rem;
    margin-left: 2rem;
  }

  .input--cvc-fix {
    width: 19.1rem;
  }

  .btn {
    width: 38.1rem;
  }

  /*************** THANK YOU - DESKTOP ***************/

  .thankyou__box {
    align-self: center;
    justify-content: center;
    padding-left: 102.2rem;
    width: 38.1rem;
    padding-top: 25rem;
    text-wrap: nowrap;
  }
}
